@font-face {
  font-family: Roboto medio;
  src: url(../../assets/fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto light;
    src: url(/assets/fonts/Roboto/Roboto-Light.ttf);
}



* {box-sizing: border-box}

body {
    font-family: Verdana, sans-serif; 
    margin:0;
    
    
    background-color: #627F8C ;
    font-size: .7em;
    

}

.container{
    display: flex;
    flex-direction: column ;

    
    /* height: 1000em; */
    
}



/* //// HEADER/CABEÇALHO //// */



.cabecalho{
    
    background-color: #212B38 ;
    
  }
 
  .cabecalho-div{
    background-color: #627F8C;
  
  }

  .sobre{
    background-color: #5FA5C5;
  }
  

.cabecalho div:hover{
    
    
    
    color: lightgreen;
    

}


/* //// MAIN/PRINCIPAL //// */


.conteudo{
    display:flex;
    flex-direction: column;
    justify-content: space-between;


}


a{
  color: #fff;
  text-decoration: none;
}

.div-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 7.5em;
  margin-bottom: 5.5em;


}


.div-info{
  background-color: #212B38 ;
  text-align: center;
  font: 2em Roboto;
  color: #fff;

  width: 87%;
  padding: 5em;
  border-radius: 25px;
}





/* //// FOOTER/RODAPÉ //// */

.rodape{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: #fff;
    background-color: #212B38;
    height: 15em;
    margin-top: 3em; 
}

.info-footer{
    display: flex;
    flex-direction: row;

    font-size:1.45em; 
    border-radius: 25px;
    background-color: #2F3946;
    padding: 1em;

}

.info-column{
    display: flex;
    flex-direction: column;
    
    margin: .5em;

    
}







