@font-face {
  font-family: Roboto medio;
  src: url(../../assets/fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto light;
    src: url(/assets/fonts/Roboto/Roboto-Light.ttf);
}



* {box-sizing: border-box}

body {
    font-family: Verdana, sans-serif; 
    margin:0;
    
    
    background-color: #fff ;
    font-size: .7em;
    

}

.container{
    display: flex;
    flex-direction: column ;
    
    /* height: 1000em; */
    
}


/* //// HEADER/CABEÇALHO //// */

.cabecalho{
    position:sticky;
    top: 0%;


    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    color: #fff;
    background-color: #212B38 ;
    height:8em;
    margin-bottom: 2.5em;

}

.cabecalho div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor:pointer;

    
    background-color: #627F8C;
    width: 9.5em;
    height: 4.5em;
    border-radius: 50px;
}


.cabecalho div:hover{
    
    
    
    color: lightgreen;
    

}

a{
    color: #fff;
    text-decoration: none;
  
  }

/* //// MAIN/PRINCIPAL //// */


.conteudo{
    display:flex;
    flex-direction: column;
    justify-content: space-between;


}

.container-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10em;
}

.container-cont div{
    /* border: solid 1px red; */
    /* margin: 1em */
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #212B38;
    font: 5em Roboto ;
    color: #fff;
    width: 100%;
    height: 2em;
    border-radius: 5px;
    margin-bottom: 1em;
}

img{
    width: 40em;
    height: auto;
    margin-right: 5em;
}

.txt-img{
    display: flex;
    flex-direction: row;
    height: 74em;
    
}

.div-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width:110em ;
    
    
}

.texto{
    font:3.5em Roboto;
    margin-top: 1em;
}




/* //// FOOTER/RODAPÉ //// */

.rodape{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: #fff;
    background-color: #212B38;
    height: 15em;
    margin-top: 3em; 
}

.info-footer{
    display: flex;
    flex-direction: row;

    font-size:1.45em; 
    border-radius: 25px;
    background-color: #2F3946;
    padding: 1em;

}

.info-column{
    display: flex;
    flex-direction: column;
    
    margin: .5em;

    
}







