@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto/Roboto-Medium.ttf);
}



* {box-sizing: border-box}

body {
    font-family: Verdana, sans-serif; 
    margin:0;
    
    
    background-color: #78B4C7 ;
    font-size: .7em;
    

}

.container{
    display: flex;
    flex-direction: column ;
    
    /* height: 1000em; */
    
}


/* //// HEADER/CABEÇALHO //// */

.cabecalho{
    position:sticky;
    top: 0%;


    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    color: #fff;
    background-color: #212B38 ;
    height:8em;
    margin-bottom: 2.5em;

}

.cabecalho div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor:pointer;

    
    background-color: #1C8EB1;
    width: 9.5em;
    height: 4.5em;
    border-radius: 50px;
}


.cabecalho div:hover{
    
    
    
    color: lightgreen;
    

}


/* //// MAIN/PRINCIPAL //// */


.conteudo{
    display:flex;
    flex-direction: column;
    justify-content: space-between;


}
a{
  
  text-decoration: none;
}

.cards-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  /* border: solid 2px red; */
  
  font:1.5em Roboto;
  
}

.um{
  margin-bottom: 8.8em;

}



.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  border-radius: 25px;
  padding: 2em;
  height: 14em;
  width: 12em;
  background-color: #1C8EB1;
  color: #fff;

}






/* //// FOOTER/RODAPÉ //// */

.rodape{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: #fff;
    background-color: #212B38;
    height: 15em;
    margin-top: 3em; 
}

.info-footer{
    display: flex;
    flex-direction: row;

    font-size:1.45em; 
    border-radius: 25px;
    background-color: #2F3946;
    padding: 1em;

}

.info-column{
    display: flex;
    flex-direction: column;
    
    margin: .5em;

    
}







